<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.css}">
	<script th:src="@{/webjars/jquery/3.5.1/dist/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="../vue/vue.min.js"></script>
	<script type="text/javascript" src="../bootstrap/bootstrap-paginator.js"></script>
	<title>Insert title here</title>
</head>
<body>
<div id="app" class="container">
	<h1>instant</h1>
	<form action="" id="list_form">
		<div class="form-group">
			<label for="name" class="col-sm-1 control-label">名称：</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="name" v-model="name" placeholder="请输入名字">
			</div>
		</div>
		<button type="button" class="btn btn-default" onclick="searchMemberRankList()">搜索</button>
		<button type="button" class="btn glyphicon glyphicon-remove" onclick="del()">删除</button>
		<button type="button" class="btn glyphicon glyphicon-shopping-cart" title="新增" data-toggle="modal" data-target="#editModal" ><i class="fa fa-file-o"></i> 新增</button>
	</form>
	<br>
	<table class="table table-bordered">
		<tr>
			<th>  </th>
			<th>组织机构层级</th>
			<th>分类</th>
			<th>负责人</th>
			<th>电话</th>
			<th>人数</th>
			<th>状态</th>
			<th>备注</th>
			<th>操作</th>
		</tr>
		<tr v-for="deptff in memberRankList">
			<td><input type="checkbox" :value="memberRank.deptId" name="check" /> </td>
			<td>{{deptff.deptText}}</td>
			<td>{{deptff.deptType}}</td>
			<td>{{deptff.deptPhone}}</td>
			<td>{{deptff.deptCount}}</td>
			<td>{{deptff.deptStatus}}</td>
			<td>{{deptff.deptBeizhu}}</td>
		</tr>
	</table>
	<div id="example" style="text-align: right"> <ul id="pageLimit"></ul> </div>
</div>
<!-- 	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">会员管理新增</h3>
		</div>
		<form action="../root/add"   method="post">
		<div class="modal-body">
				<table class="table table-bordered table-striped"  width="800px">
					<tr>
						<th>
							<span class="requiredField">*</span>名字:
						</th>
						<td>
							<input type="text" name="name" class="form-control" maxlength="200" />
						</td>
					</tr>
					<tr>
						<th>
							<span class="requiredField">*</span>金额:
						</th>
						<td>
							<input type="text" name="amount" class="form-control" maxlength="200" />
						</td>
					</tr>
				 </table>
		</div>
		<div class="modal-footer">
			<button class="btn btn-success" type="submit">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>

		</form>
	  </div>
	</div>
</div> -->
</body>
<script type="text/javascript">
	var vm = new Vue({
		el: '#app',
		data: {
			memberRankList: "",
			totalPage:"",
			total:"",
			currPage:"",
			pageSize:"",
			name:""
		}
	})

	$(function() {
		searchMemberRankList();
	})

	function searchMemberRankList() {
		$.ajax({
			type:"post",
			url:"../dept/findPage",
			data:{"currPage":vm.currPage,"pageSize":vm.pageSize,"name":vm.name},
			dataType:"json",
			success: function(result) {
				vm.deptlist = result.rows;
				vm.totalPage = result.totalPage;
				vm.total = result.total;
				vm.currPage = result.currPage;
				vm.pageSize = result.pageSize;
				setPage(result.currPage,result.totalPage,result.pageSize,searchMemberRankList);
			},
			error : function() {
				alert("系统错误，请联系管理员！");
			}
		})
	}

	/**
	 *
	 * @param pageCurrent 当前所在页
	 * @param pageSum 总页数
	 * @param callback 调用ajax
	 */
	function setPage(pageCurrent, pageSum, pageSize, callback) {
		$('#pageLimit').bootstrapPaginator({
			currentPage: pageCurrent,//当前的请求页面。
			totalPages: pageSum,//一共多少页。
			size:"normal",//应该是页眉的大小。
			bootstrapMajorVersion: 3,//bootstrap的版本要求。
			alignment:"right",
			numberOfPages:pageSize,//一页列出多少数据。
			itemTexts: function (type, page, current) {//如下的代码是将页眉显示的中文显示我们自定义的中文。
				switch (type) {
					case "first": return "首页";
					case "prev": return "上一页";
					case "next": return "下一页";
					case "last": return "末页";
					case "page": return page;
				}
			},
			//当单击操作按钮的时候, 执行该函数, 调用ajax渲染页面
			onPageClicked: function (event,originalEvent,type,page) {
				// 把当前点击的页码赋值给currentPage, 调用ajax,渲染页面
				vm.currPage = page;
				callback && callback()
			}
		});
	}

	function del() {
		var arr = document.getElementsByName("check");
		var id = "";
		for (var i = 0; i < arr.length; i++) {
			if (arr[i].checked) {
				id+=","+arr[i].value
			}
		};
		id = id.substring(1);
		if (id=="") {
			alert("请至少选择一条数据")
		}else {
			$.ajax({
				url:"../instant/delete",
				data:{id:id},
				success: function() {
					alert("删除成功")
				},
				error : function() {
					alert("系统错误，请联系管理员！");
				}
			})
		}
	}




</script>
</html>