<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.EmpMapper">
    <insert id="addEmp">
         INSERT INTO employee (emp_nicheng,emp_phone,emp_zhudepartment,emp_fudepartment,emp_position,emp_role,emp_status)
                        VALUES(#{empNiCheng},#{empPhone},#{empZhuDepartment},#{empFuDepartment},#{empPosition},#{empRole},#{empStatus})

    </insert>


    <select id="findList" resultType="com.jk.entity.emp.EmployeeEntity" parameterType="EmployeeEntity">
        select e.*,d.dept_text deptName,r.role_name roleName,s.sta_name staName from employee e left join  dept d on e.emp_zhudepartment=d.dept_id left join
        role r on e.emp_role=r.role_id left join status s on e.emp_status=s.sta_id
        <where>
            <if test="employee.empNiCheng !='' and employee.empNiCheng!=null">
                and e.emp_nicheng LIKE '%${employee.empNiCheng}%'
            </if>
            <if test="employee.empStatus !=null">
                and  e.emp_status=#{employee.empStatus}
            </if>

        </where>

    </select>


    <select id="te" resultType="com.jk.entity.emp.User">

        select * from user where name = #{name}

    </select>


    <select id="tea" resultType="com.jk.entity.emp.User">

        select * from user where name = #{name}

    </select>
</mapper>